:root {
  --aside-width: 100%;
  --section-width: 100%;
  --currentDisp-height: max(13.5em, min-content);
  --futureDisp-height: max(30em, min-content);
  --image-bg-body1: url('../images/default.jpg');
}

/* Utilities Classes */
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.flex-auto {
  flex: 0 0 auto;
}
.w-10 {
  width: 100%;
}
.d-none {
  display: none;
}

/* style */
body {
  background-image: var(--image-bg-body1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  width: 100%; 
  height: 90px; 
  font-size: 3em;
  color: white;
  text-shadow: 0 0 8px #ff0000;
  text-align: center;
}

aside {
  width: var(--aside-width);
}

section {
  width: var(--section-width);
  height: min-content;
  gap: 1em;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.4rem;
}
ul {
  list-style: none;
}

.container {
  padding: 1em;
  gap: 1em;
}

.card {
  width: 45%;
  background-color: rgba(0, 0, 0, 0.686);
  background: linear-gradient(rgba(0, 0, 0, 0.451), rgba(0, 0, 0, 0.213));
  border-radius: 1.5em;
  padding: 1em;
  margin: auto;
}

.history-list {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  list-style: none;
}

.history-link {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.history-link:hover {
  box-shadow: inset 0px 0px 8px #bbbbbb;
}

.display {
  color: white;
  background-color: rgba(0, 0, 0, 0.686);
  border-radius: 2em;
  padding: 2em;
}

#currentDisp {
  height: var(--currentDisp-height);
}

#futureDisp {
  width: 100%;
  height: var(--futureDisp-height);
}

#forecastList {
  flex-wrap: wrap;
}

@media screen and (width >= 900px) {
  :root {
    --aside-width: 20em;
    --section-width: calc(100% - var(--aside-width));
    --futureDisp-height: max(1000em, min-content);
  }
  .container {
    flex-direction: row;
  }
  .card {
    width: 45%;
    margin: 0;
  }
}

@media screen and (width >= 1175px) {
  .card {
    width: 30%;
    margin: 0;
  }
}

@media screen and (width >= 1390px) {
  .card {
    width: 18%;
    margin: auto;
  }
}